Challenge Name: BWWC: Hack the Gender Wage Gap - UK Data Challenge

Description: 
This project is sponsored by the Boston Womenâ€™s Workforce Council, a public-private partnership between the City of Boston, Boston University, and over 200 companies in Boston.

In 2017 the UK was the first government in the world to require organizations with more than 250 employees to make wage data public. The findings showed a persistent pay gap among 77% of the reporting employers stated that median hourly pay was higher for men than for women in their organisation. We want to better understand these data to inform the creation of policies that could reduce this wage gap.

### This is an incredible opportunity to understand what might be driving factors to the overall gender wage gap. We want students to analyze this data, combine it with other public data and help us understand what the US can learn from the UK open data set. 

Examples of possible factors of interest could be:
Industry and Job characteristics (e.g. historically male role, male-dominated industry, role level - e.g. low wage vs. professional, etc.)
Leadership characteristics (e.g. number or percentage of women in executive level or C-suite roles - CEO, etc., number or percentage of women on the board, etc.)
Employer provided benefits (e.g. family leave, etc.)

Note that the UK government has already performed substantial analysis related to characteristics of employees (full time, male/femaie, etc.) We are looking for correlations specifically to employer practices.

If time, allows, we hope these data can be presented in a visually compelling and even interactive way.  For access to the datasets visit: https://tinyurl.com/techtogetherbwwc
r
Criteria: 
Analysis: the hack with the most insightful analysis on employer factors related to the pay gap
Usefulness: the hack provides data in a format that can be used for further analysis
Presentation: the hack presents the data or findings in a compelling manner 
Prizes: $500 award
Judges: BU Spark! Team and BWWC
Award Criteria
Insights and Actionability of Analysis
Presentation of results
Platform reusability (e.g. with additional data integrations)

_________________________________________________________________
The Data

Links to the data needed for this project can be found below:
 
Gender Pay Gap Portal: 
https://gender-pay-gap.service.gov.uk 

https://www.ukdataservice.ac.uk/get-data/key-data
 
UK employment data by sector and gender:

https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/employmentbyindustryemp13
 
You can filter these by sector, any organisation that has 250 employees or more and the best part, download it all as a clean CSV!
 
For deeper analysis projects, you can find auxiliary datasets follow below:
 
U.K. Salary Scales: 

https://www.europeandataportal.eu/data/en/dataset/salary-scales1

https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/bulletins/annualsurveyofhoursandearnings/2017provisionaland2016revisedresults 

(master list contains statistician's commentary on potential pitfalls, if needed)

[Provisional] Earnings broken down by age and sex, but not company.

https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datasets/agegroupashetable6 (by age and sex but not company)

Earnings by qualifications (broken down by sex):

https://data.gov.uk/dataset/d164c231-36fe-4e2e-82dc-5f4dc46cc3d7/earnings-by-qualification-in-the-uk

You could combine datasets 2 and 3 to study wage gap by qualification and sex.

Combine that further with earnings across industries:

https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datasets/averageweeklyearningsbyindustryearn03

NB: While in spreadsheets, these data will all need to be thoroughly cleaned (removing extraneous header information, etc.)

For an analysis only on London, we also have earnings by borough:

https://data.london.gov.uk/dataset/earnings-workplace-borough
 
For Glassdoor data that may be useful for the analysis, but will not be able to be used/promoted publicly, please see the following datasets. Note that this data will be acceptable for the competition and will not hurt your chances of winning:

https://github.com/MatthewChatham/glassdoor-review-scraper

https://www.glassdoor.com/developer/index.htm

https://nycdatascience.com/blog/student-works/web-scraping/glassdoor-web-scraping/

https://nycdatascience.com/blog/student-works/web-scraping-glassdoor-insight-employee-turnover-within-financial-firms/

Additional small datasets which may be used to show correlations:
Maternity benefits at UK universities:

https://warwick.ac.uk/fac/soc/economics/staff/vetroeger/maternity/maternitybenefits_heis.pdf

Or feel free to develop your own benefits-oriented data set through other sources, noting all sources you use.

https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datasets/residencebasedtraveltoworkareaashetable12

A good analysis : 
    
    https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/bulletins/genderpaygapintheuk/2018

In [2]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
df_17_18 = pd.read_csv('data/UK Gender Pay Gap Data - 2017 to 2018 (1).csv')
df_18_19 = pd.read_csv('data/UK Gender Pay Gap Data - 2018 to 2019 (1).csv')

In [293]:
df_17_18["AddressClean"] = df_17_18.apply(lambda row : row["Address"].replace("\r\n",'').replace(" ","+"), axis=1)

In [4]:
df_18_19

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,118 LIMITED,"Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...",03951948,61900,7.7,12.7,11.3,10.9,67.0,52.0,...,50.0,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,05/04/2019 00:00:00,06/03/2019 13:26:24
1,1509 GROUP,"Royal Grammar School, High Street,\r\nGuildfor...",04104101,"85200,\r\n85310",13.4,12.7,0.0,0.0,0.0,0.0,...,51.6,61.3,38.7,https://www.rgs-guildford.co.uk,Kate Perceval (Bursar),250 to 499,1509 GROUP,False,05/04/2019 00:00:00,18/03/2019 14:03:16
2,1ST CHOICE STAFF RECRUITMENT LIMITED,"8, St. Loyes Street,\r\nBedford,\r\nMK40 1EP",07972006,78109,-4.5,-2.0,-206.9,-228.8,2.0,1.0,...,40.0,53.0,47.0,https://www.1stchoicerec.net,Gillian Knight (Managing Director),250 to 499,1ST CHOICE STAFF RECRUITMENT LIMITED,False,05/04/2019 00:00:00,11/02/2019 16:30:41
3,2 AGRICULTURE LIMITED,"Fairview Mill, Ingliston,\r\nNewbridge,\r\nMid...",SC156515,"1470,\r\n10910",12.7,7.4,57.6,0.0,92.9,100.0,...,3.1,93.7,6.3,NaN,Gavin Berry (Managing Director),250 to 499,2 AGRICULTURE LIMITED,False,05/04/2019 00:00:00,21/03/2019 15:35:53
4,23.5 DEGREES LIMITED,"Unit 3 Hedge End Retail Park, Charles Watts Wa...",08014079,56103,10.0,0.0,79.0,39.0,4.0,3.0,...,69.0,30.0,70.0,https://www.23-5degrees.com/gender-pay-gap,Luca Contardo (CFO),500 to 999,23.5 DEGREES LIMITED,False,05/04/2019 00:00:00,25/09/2018 10:28:59
5,3M UNITED KINGDOM PUBLIC LIMITED COMPANY,"3m, Centre, Cain Road,\r\nBracknell,\r\nBerksh...",01123045,"20301,\r\n23910,\r\n32990",11.0,6.0,40.0,35.0,30.0,24.0,...,35.0,71.0,29.0,https://multimedia.3m.com/mws/media/1456667O/g...,David Pawson (HR Leader Northern Region),1000 to 4999,3M UNITED KINGDOM PUBLIC LIMITED COMPANY,False,05/04/2019 00:00:00,14/01/2019 08:31:27
6,A & S Restaurants Ltd,"206 Hurley Common,\r\nHurley,\r\nAtherstone,\r...",04289561,56102,-1.0,-10.0,-117.0,0.0,34.0,30.0,...,62.0,48.0,52.0,NaN,Afia Sirkhot (Managing Director),500 to 999,A & S Restaurants Ltd,False,05/04/2019 00:00:00,19/03/2019 13:32:19
7,A KHAN RESTAURANTS LIMITED,"2nd Floor Bradburn House,\r\n64-68 Northumberl...",08132730,56103,0.0,0.0,NaN,NaN,0.0,0.0,...,49.0,44.0,56.0,NaN,Ahmed Khan (Franchisee),250 to 499,A KHAN RESTAURANTS LIMITED,False,05/04/2019 00:00:00,22/03/2019 10:46:39
8,A. & B. GLASS COMPANY LIMITED,"Addison Road,\r\nChilton Industrial Estate,\r\...",01543721,43342,15.0,0.0,85.0,40.0,61.0,32.0,...,31.0,88.0,12.0,NaN,PHILIP FARNELL (GROUP HR MANAGER),250 to 499,A. & B. GLASS COMPANY LIMITED,False,05/04/2019 00:00:00,22/10/2018 13:33:09
9,A.J.N. STEELSTOCK LTD.,"Icknield Way, Kentford,\r\nNewmarket,\r\nSuffo...",00689647,46720,18.0,-3.7,6.8,0.0,67.4,71.4,...,9.3,82.6,17.4,https://www.ajnsteelstock.co.uk/,Courtney Bell (Finance Director),250 to 499,A.J.N. STEELSTOCK LTD.,False,05/04/2019 00:00:00,23/01/2019 14:19:43
10,AB AGRI LIMITED,"Weston Centre,\r\n10 Grosvenor Street,\r\nLond...",00193800,10910,9.3,-7.4,72.0,13.9,35.4,37.7,...,37.1,73.2,26.8,https://www.abagri.com/ABAgriCorporate/files/4...,Jose Nobre (Chief Executive),1000 to 4999,AB AGRI LIMITED,False,05/04/2019 00:00:00,07/01/2019 15:48:09
11,AB INBEV UK LIMITED,"Porter Tun House,\r\n500 Capability Green,\r\n...",03982132,11050,-31.0,-39.0,-49.0,-160.0,60.0,64.0,...,25.0,66.0,34.0,https://ab-inbev.co.uk/about/our-promise/polic...,Claire Richardson (People Director),1000 to 4999,AB INBEV UK LIMITED,False,05/04/2019 00:00:00,22/03/2019 10:45:36
12,AB WORLD FOODS LIMITED,"Weston Centre,\r\n10 Grosvenor Street,\r\nLond...",01400901,10890,-6.6,-11.1,19.1,-23.3,82.9,85.9,...,39.4,54.7,45.3,https://abworldfoods.com/,Andy Mayhew (Managing Director),250 to 499,AB WORLD FOODS LIMITED,False,05/04/2019 00:00:00,15/02/2019 12:10:08
13,ABACUS HOTELS LIMITED,"White Lion House,\r\n20 Station Street,\r\nSwa...",03101431,55100,37.8,3.5,-6.6,-10.2,19.2,16.2,...,47.2,49.1,50.9,NaN,Judy Darking (Group Accounts Manager),250 to 499,ABACUS HOTELS LIMITED,False,05/04/2019 00:00:00,05/04/2018 17:00:21
14,ABB LIMITED,"Daresbury Park,\r\nDaresbury,\r\nWarrington,\r...",03780764,"27120,\r\n43210,\r\n46520,\r\n70100",22.4,30.6,32.2,33.9,84.8,83.0,...,12.5,89.7,10.3,https://new.abb.com/uk/about,Ian Funnell (Managing Director),1000 to 4999,ABB LIMITED,False,05/04/2019 00:00:00,05/03/2019 08:49:39
15,Abbeyfield Society (The),"St Peter's House,\r\n2 Bricket Road,\r\nSt. Al...",00574816,87300,27.0,10.0,72.0,50.0,58.0,42.0,...,89.0,22.0,78.0,https://www.abbeyfield.com/media/28526/gender-...,Nigel Hopkins (Financial Director),1000 to 4999,Abbeyfield Society (The),False,05/04/2019 00:00:00,20/03/2019 16:41:11
16,Abbeyfield Wales Society,"Pagefield House,\r\n24 Gold Tops,\r\nNewport,\...",NaN,"87100,\r\n87300",21.9,7.6,0.0,0.0,0.0,0.0,...,97.8,13.0,87.0,NaN,Ellen Moore (HR Manager),250 to 499,Abbeyfield Wales Society,False,05/04/2019 00:00:00,04/06/2018 10:59:57
17,Aberdeen Asset Management PLC,"10 Queen's Terrace,\r\nAberdeen,\r\nAberdeensh...",SC082015,64205,30.0,19.0,47.0,30.0,89.0,91.0,...,43.0,70.0,30.0,https://www.standardlifeaberdeen.com/__data/as...,Keith Skeoch (Chief Executive),500 to 999,Aberdeen Asset Management PLC,False,05/04/2019 00:00:00,19/03/2019 11:23:24
18,ABERDEEN ASSET MANAGERS LIMITED,"10 Queen's Terrace,\r\nAberdeen,\r\nAberdeensh...",SC108419,64999,40.0,41.0,67.0,72.0,95.0,95.0,...,30.0,85.0,15.0,https://www.standardlifeaberdeen.com/__data/as...,Keith Skeoch (Chief Executive),500 to 999,ABERDEEN ASSET MANAGERS LIMITED,False,05/04/2019 00:00:00,19/03/2019 11:24:38
19,ABERDEEN INTERNATIONAL AIRPORT LIMITED,"Aberdeen Airport,\r\nDyce,\r\nAberdeen,\r\nUni...",SC096622,51101,15.0,16.0,48.0,25.0,98.0,99.0,...,14.0,91.0,9.0,https://www.aberdeenairport.com/about-us/ags-a...,Roger Hunt (Chief HR and Development Officer),250 to 499,ABERDEEN INTERNATIONAL AIRPORT LIMITED,False,05/04/2019 00:00:00,01/03/2019 14:16:06
20,ABERDEEN JOURNALS LIMITED,"Lang Stracht,\r\nMastrick,\r\nAberdeen,\r\nUni...",SC015256,"18110,\r\n58130",15.7,13.3,44.7,80.0,17.1,39.7,...,38.0,64.0,36.0,https://www.dcthomson.co.uk,David Thomson (Director),250 to 499,ABERDEEN JOURNALS LIMITED,False,05/04/2019 00:00:00,03/07/2018 10:19:01
21,Aberlour Child Care Trust,"36 Park Terrace,\r\nStirling,\r\nStirlingshire...",SC312912,96090,7.0,0.0,0.0,0.0,0.0,0.0,...,81.3,20.3,79.7,https://www.aberlour.org.uk/publication/,SallyAnn Kelly (Chief Executive),250 to 499,Aberlour Child Care Trust,False,05/04/2019 00:00:00,18/03/2019 15:10:51
22,ABF GRAIN PRODUCTS LIMITED,"Weston Centre, 10 Grosvenor Street,\r\nLondon,...",00079590,10710,-5.2,-0.1,35.2,-3.3,21.7,37.7,...,16.0,77.0,23.0,https://www.abf.co.uk/abf-grain-products-ltd-g...,Gareth Fendick (Director of Talent and Organis...,"5000 to 19,999",ABF GRAIN PRODUCTS LIMITED,False,05/04/2019 00:00:00,20/12/2018 13:13:01
23,Abingdon & Witney College,"Holloway Road,\r\nWitney,\r\nOxfordshire,\r\nU...",NaN,"1,\r\n85320",9.0,12.0,NaN,NaN,0.0,0.0,...,72.0,35.0,65.0,http://www.abingdon-witney.ac.uk/info-centre/e...,NaN,500 to 999,Abingdon & Witney College,False,31/03/2019 00:00:00,22/03/2019 14:47:33
24,ABINGDON FLOORING LIMITED,"Parkway,\r\nPen Y Fan Industrial Estate,\r\nCr...",04923718,13939,16.1,8.6,21.2,-8.0,94.2,87.5,...,3.7,88.1,11.9,https://www.abingdonflooring.co.uk/wp-content/...,Steve Byrne (Managing Director),250 to 499,ABINGDON FLOORING LIMITED,False,05/04/2019 00:00:00,14/03/2019 15:06:00
25,ACCELERATE CLEANING SOLUTIONS LTD,"1st, Floor, Corn Exchange Business Centre Mark...",04344083,81299,2.2,0.0,NaN,NaN,0.0,0.0,...,64.0,52.0,48.0,NaN,Gary Morgan (Managing Director),250 to 499,ACCELERATE CLEANING SOLUTIONS LTD,False,05/04/2019 00:00:00,22/03/2019 17:11:46
26,ACCELERATED EDUCATION TUITION LIMITED,"V3, Vector Park, Forest Road,\r\nFeltham,\r\nE...",06857560,85200,-30.0,-0.3,NaN,NaN,0.0,0.0,...,57.8,43.3,56.7,https://aetuition.co.uk/gender-pay-gap/,Stephen Curran (MD),250 to 499,ACCELERATED EDUCATION TUITION LIMITED,False,05/04/2019 00:00:00,22/03/2019 16:42:02
27,ACCENTURE (UK) LIMITED,"30 Fenchurch Street,\r\nLondon,\r\nUnited King...",04757301,70229,16.7,10.6,57.9,20.1,61.0,61.7,...,34.0,72.0,28.0,https://www.accenture.com/gb-en/company-news-r...,Olly Benzecry (Country Managing Director),"5000 to 19,999",ACCENTURE (UK) LIMITED,False,05/04/2019 00:00:00,18/01/2019 10:16:38
28,Access UK Ltd,"The Old School,\r\nSchool Lane,\r\nStratford S...",02343760,62090,19.9,24.3,41.2,10.5,56.1,48.6,...,27.0,81.0,19.0,https://www.theaccessgroup.com/company/our-peo...,Claire Scott (CPO),1000 to 4999,Access UK Ltd,False,05/04/2019 00:00:00,20/03/2019 16:54:52
29,ACCESSIBLE TRANSPORT GROUP CONTRACT SERVICES L...,"80 Park Road,\r\nBirmingham,\r\nWest Midlands,...",08339288,49319,1.0,0.0,0.0,0.0,0.0,0.0,...,22.0,93.0,7.0,http://www.atgroup.org.uk/,Sally-Ann McKevitt (Head of HR and Service Dev...,500 to 999,ACCESSIBLE TRANSPORT GROUP CONTRACT SERVICES L...,False,05/04/2019 00:00:00,17/10/2018 10:26:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,WYTHENSHAWE COMMUNITY HOUSING GROUP LIMITED,"Wythenshawe House 8 Poundswick Lane,\r\nGreate...",08198590,68201,2.3,10.4,NaN,NaN,0.0,0.9,...,40.0,63.0,37.0,https://www.wchg.org.uk/wp-content/uploads/WCH...,Paul Roberts (Assistant Director of Resources),500 to 999,WYTHENSHAWE COMMUNITY HOUSING GROUP LIMITED,False,05/04/2019 00:00:00,21/03/2019 09:45:44
3197,Wyvern College,"Botley Road,\r\nFair Oak,\r\nEastleigh,\r\nHam...",NaN,"1,\r\n85310",32.2,52.7,0.0,0.0,0.0,0.0,...,78.0,37.9,62.1,http://www.wyverncollege.org.uk/college-2/gend...,NaN,250 to 499,Wyvern College,False,31/03/2019 00:00:00,13/03/2019 16:56:03
3198,Xaar PLC,"Science Park,\r\nCambridge,\r\nUnited Kingdom,...",03320972,"26110,\r\n72190",17.0,12.0,80.0,0.0,16.5,10.0,...,22.0,88.0,12.0,https://www.xaar.com/en/careers/,Anne Neave (Director of HR),250 to 499,Xaar PLC,False,05/04/2019 00:00:00,21/03/2019 14:00:53
3199,Xavier Catholic Education Trust,"Salesian School,\r\nGuildford Road,\r\nChertse...",10236797,"1,\r\n85310",31.8,47.3,NaN,NaN,0.0,0.0,...,81.5,29.4,70.6,https://xaviercet.org.uk/,NaN,500 to 999,Xavier Catholic Education Trust,False,31/03/2019 00:00:00,20/03/2019 08:04:17
3200,XCHANGING GLOBAL INSURANCE SOLUTIONS LIMITED,"Royal Pavilion,\r\nWellesley Road,\r\nAldersho...",00508212,62020,27.0,23.0,16.0,15.0,10.0,4.0,...,10.0,89.0,11.0,https://www.dxc.technology/uki/ds/11507/146310...,Holly Hamilton (Director Total Rewards),250 to 499,XCHANGING GLOBAL INSURANCE SOLUTIONS LIMITED,False,05/04/2019 00:00:00,13/03/2019 14:21:06
3201,XENON SERVICES LIMITED,"Unit G7 South Central East, 9 Steedman Steet,\...",04352032,81210,27.6,11.0,0.0,0.0,0.0,0.0,...,70.4,28.2,71.8,NaN,Simon Baker (Director),500 to 999,XENON SERVICES LIMITED,False,05/04/2019 00:00:00,19/03/2019 10:58:03
3202,XMA LIMITED,"Wilford Industrial Estate,\r\nRuddington Lane ...",02051703,46510,33.0,31.0,51.0,47.0,48.0,63.0,...,22.0,84.0,16.0,https://www.xma.co.uk/wp-content/uploads/2019/...,Taj Dhatt (Finance Director),500 to 999,XMA LIMITED,False,05/04/2019 00:00:00,13/03/2019 14:16:33
3203,XTRAC LIMITED,"Gables Way,\r\nKennet Park,\r\nThatcham,\r\nBe...",01825037,28150,16.0,7.0,0.0,0.0,0.0,0.0,...,8.0,97.0,3.0,https://www.xtrac.com/content/uploads/2019/03/...,Adrian Moore (Chief Executive Officer),250 to 499,XTRAC LIMITED,False,05/04/2019 00:00:00,07/03/2019 13:45:05
3204,Yateley School,"School Lane,\r\nYateley,\r\nHampshire,\r\nGU46...",NaN,"1,\r\n85310",29.6,47.2,0.0,0.0,0.0,0.0,...,79.7,39.0,61.0,NaN,NaN,250 to 499,Yateley School,False,31/03/2019 00:00:00,11/03/2019 08:17:07
3205,YELLOW DOT HOLDINGS LIMITED,"2, Crown Court,\r\nCrown Way,\r\nRushden,\r\nN...",11159598,64209,-39.7,-80.7,-66.0,-636.4,66.7,64.7,...,98.8,2.4,97.6,https://www.brighthorizons.co.uk/statutory-inf...,John Handley (HR Director),250 to 499,YELLOW DOT HOLDINGS LIMITED,False,05/04/2019 00:00:00,15/03/2019 15:24:35
3206,Yesss (A) Electrical Ltd,"Unit B Foxbridge Way,\r\nNormanton Industrial ...",07656807,74909,24.0,20.0,78.0,66.0,59.1,55.0,...,6.1,96.1,3.9,https://www.yesss.co.uk/gender-pay-gap-report-...,Adam Emmott (Finance Director),500 to 999,Yesss (A) Electrical Ltd,False,05/04/2019 00:00:00,07/03/2019 09:55:48
3207,YESSS (B) ELECTRICAL LTD,"Unit B Foxbridge Way, Normanton Industrial Est...",07650325,74909,14.0,6.0,64.0,-2.0,55.7,62.3,...,10.9,89.1,10.9,https://www.yesss.co.uk/gender-pay-gap-report-...,Adam Emmott (Finance Director),250 to 499,YESSS (B) ELECTRICAL LTD,False,05/04/2019 00:00:00,07/03/2019 10:00:26
3208,YHA (ENGLAND AND WALES),"Trevelyan House, Dimple Road,\r\nMatlock,\r\nD...",00282555,55202,9.7,7.2,0.0,0.0,0.0,0.0,...,52.1,50.7,49.3,NaN,Jeremy Robinson (Chief Operating Officer),1000 to 4999,YHA (ENGLAND AND WALES),False,05/04/2019 00:00:00,07/02/2019 13:59:43
3209,Ymca Fairthorne Group,"Bugle House,\r\n53 Bugle Street,\r\nSouthampto...",04336719,96090,6.7,0.3,NaN,NaN,0.0,0.0,...,81.4,26.2,73.8,https://www.ymca-fg.org/?s=gender+pay+gap,Chris Hand (CEO),250 to 499,Ymca Fairthorne Group,False,05/04/2019 00:00:00,21/03/2019 15:55:34
3210,YORKARE HOMES LIMITED,"Brantingham Thorpe Hall, Brantingham,\r\nNr Br...",04755842,87100,-3.6,0.0,0.0,0.0,0.0,0.0,...,89.2,9.3,90.7,https://yorkarehomes.co.uk,Elizabeth Garton (Director),250 to 499,YORKARE HOMES LIMITED,False,05/04/2019 00:00:00,05/02/2019 14:18:14
3211,Yorkshire Ambulance Service Nhs Trust,"Springhill 2, Brindley Way,\r\nWakefield 41 Bu...",NaN,"1,\r\n86210",5.3,6.3,NaN,NaN,0.0,0.0,...,46.6,58.8,41.2,NaN,NaN,"5000 to 19,999",Yorkshire Ambulance Service Nhs Trust,False,31/03/2019 00:00:00,20/03/2019 15:44:49
3212,Yorkshire Building Society,"Yorkshire House,\r\nYorkshire Drive,\r\nBradfo...",MUT00001,64192,29.7,26.6,44.9,36.1,94.3,95.3,...,60.7,56.7,43.3,https://www.ybs.co.uk/your-society/inside-your...,Stephen White (Chief Operating Officer),1000 to 4999,Yorkshire Building Society,False,05/04/2019 00:00:00,20/11/2018 09:14:35
3213,Yorkshire Causeway Schools Trust,"St Aidan's Church Of England High School,\r\nO...",07663935,"1,\r\n85200,\r\n85310",24.0,50.0,0.0,0.0,0.0,0.0,...,78.0,32.0,68.0,http://yorkshirecauseway.co.uk/,NaN,500 to 999,Yorkshire Causeway Schools Trust,False,31/03/2019 00:00:00,29/01/2019 11:04:09
3214,YORKSHIRE COAST HOMES LIMITED,"Brook House, 4 Gladstone Road,\r\nScarborough,...",04438271,55900,10.4,12.5,-11.2,0.0,91.0,97.0,...,32.0,75.0,25.0,NaN,Debbie Gordon (Director of Resources),Less than 250,YORKSHIRE COAST HOMES LIMITED,False,05/04/2019 00:00:00,09/04/2018 16:10:00
3215,YORKSHIRE HOUSING LIMITED,"Dysons Chambers,\r\n12-14 Briggate,\r\nLeeds,\...",IP030443,NaN,6.7,13.8,17.9,50.0,11.0,21.0,...,49.0,65.0,35.0,https://www.yorkshirehousing.co.uk/,Mervyn Jones (Chief Executive),500 to 999,YORKSHIRE HOUSING LIMITED,False,05/04/2019 00:00:00,24/07/2018 13:35:19
3216,YORKSHIRE REPAK LIMITED,"Summer Lane,\r\nBarnsley,\r\nSouth Yorkshire,\...",01894028,32990,1.5,0.0,91.7,89.5,2.2,4.8,...,42.2,58.7,41.3,http://www.yorkshirerepak.com/vacancies/,Steven Morton (Finance Manager),500 to 999,YORKSHIRE REPAK LIMITED,False,05/04/2019 00:00:00,14/03/2019 11:19:37
3217,YORKSHIRE WATER SERVICES LIMITED,"Western House, Halifax Road,\r\nBradford,\r\nW...",02366682,36000,4.7,6.2,-2.8,0.0,91.1,92.6,...,23.5,81.0,19.0,NaN,Richard Flint (Chief Executive),1000 to 4999,YORKSHIRE WATER SERVICES LIMITED,False,05/04/2019 00:00:00,13/03/2019 11:09:58
3218,YOUR HOMES NEWCASTLE LIMITED,"Civic Centre,\r\nBarras Bridge,\r\nNewcastle U...",05076256,68201,-5.4,-15.0,0.0,0.0,0.0,0.0,...,69.9,53.1,46.9,NaN,Tina Drury (YHN Managing Director),500 to 999,YOUR HOMES NEWCASTLE LIMITED,False,05/04/2019 00:00:00,15/11/2018 16:13:23
3219,YOUR HOUSING GROUP LIMITED,"602 Aston Avenue,\r\nBirchwood,\r\nWarrington,...",IP030666,NaN,16.5,8.2,-69.5,-262.7,8.5,0.2,...,58.2,53.8,46.2,https://www.yourhousinggroup.co.uk/media/1624/...,Kathy Doran (Group Board Chair),500 to 999,YOUR HOUSING GROUP LIMITED,False,05/04/2019 00:00:00,21/03/2019 13:20:50
3220,YOUR LEISURE KENT LIMITED,"Northdown House,\r\nNorthdown Park Road,\r\nMa...",IP28889R,NaN,-16.5,0.0,0.0,0.0,0.0,0.0,...,54.3,23.7,76.3,http://yourleisure.uk.com/,Debbie Barker (HR Adviser),500 to 999,YOUR LEISURE KENT LIMITED,False,05/04/2019 00:00:00,08/02/2019 13:03:02
3221,ZENITH UK (MEDIA) LIMITED,"Pembroke Building,\r\nKensington Village,\r\nA...",01921320,73110,23.9,15.1,52.1,12.5,45.6,41.1,...,56.2,64.8,35.2,https://www.zenithmedia.co.uk/wp-content/uploa...,"Jacqui Eggo (Talent Director, Publicis Media UK)",250 to 499,ZENITH UK (MEDIA) LIMITED,False,05/04/2019 00:00:00,07/03/2019 16:11:54
3222,ZURICH EMPLOYMENT SERVICES LIMITED,"The Grange,\r\nBishops Cleeve,\r\nCheltenham,\...",00243883,"78300,\r\n82990",26.6,29.6,56.9,53.2,95.0,94.0,...,45.6,70.9,29.1,https://www.zurich.co.uk/_/media/dbe/united-ki...,Steve Collinson (Head of UK HR),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,05/04/2019 00:00:00,04/03/2019 09:29:55
3223,ZURICH UK GENERAL SERVICES LIMITED,"The Zurich Centre 3000 Parkway,\r\nWhiteley,\r...",03843124,82990,22.3,23.8,51.6,50.6,95.0,96.0,...,29.0,70.2,29.8,https://www.zurich.co.uk/_/media/dbe/united-ki...,Steve Collinson (Head of UK HR),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,05/04/2019 00:00:00,04/03/2019 09:37:57
3224,ZUTO HOLDINGS LIMITED,"Winterton House,\r\nWinterton Way,\r\nMacclesf...",08563366,70100,25.0,21.0,48.0,56.0,58.0,84.0,...,28.0,80.0,20.0,https://www.zuto.com/gender-pay-report/,James Wilkinson (CEO),250 to 499,ZUTO HOLDINGS LIMITED,False,05/04/2019 00:00:00,21/03/2019 10:38:32
3225,ZWANENBERG FOOD UK LIMITED,"Station Road,\r\nMinsterley,\r\nShrewsbury,\r\...",01032611,10110,20.0,4.0,86.0,15.0,46.0,47.0,...,38.0,71.0,29.0,NaN,Jonathan Ashmore (Managing Director),500 to 999,ZWANENBERG FOOD UK LIMITED,False,05/04/2019 00:00:00,22/03/2019 15:50:22

In [294]:
df_17_18["AddressClean"]

0        Bryanston+House,Blandford,Dorset,United+Kingdo...
1           19,+Smith's+Place,Leith+Walk,Edinburgh,EH6+8NU
2        Fusion+Point,Dumballs+Road,Cardiff,United+King...
3                  34,+Roundhay+Road,Leeds,England,LS7+1AB
4        Hestercombe+House,Cheddon+Fitzpaine,Taunton,So...
5        The+Sunderland+Stadium+Of+Light,,Sunderland,Ty...
6        Ldh+House+St+Ives+Business+Park,Parsons+Green,...
7                       12b,+Burnbank+Road,Falkirk,FK2+7PE
8        Colmore+Court,9+Colmore+Row,Birmingham,West+Mi...
9        Fairview+Mill,+Ingliston,Newbridge,Midlothian,...
10       Trinity+Park+House+Trinity+Business+Park,+Fox+...
11        George+Street,+Coupar+Angus,Blairgowrie,PH13+9LU
12        George+Street,+Coupar+Angus,Blairgowrie,PH13+9LU
13       -+Lowton+Way,Hellaby,Rotherham,South+Yorkshire...
14       Unit+3+Hedge+End+Retail+Park,+Charles+Watts+Wa...
15       Magnolia+Cottage+Green+Street,Elsenham,Bishop'...
16         8a,+London+Road,Tunbridge+Wells,England,TN1+1DA
17       Rikenel,Montpellier,Gloucester,Gloucestershire...
18       Unit+7,+Capstan+Centre,Thurrock+Park+Way,Tilbu...
19                   814+Leigh+Road,Slough,England,SL1+4BD
20       3m,+Centre,+Cain+Road,Bracknell,Berkshire,RG12...
21                      10,+Norwich+Street,London,EC4A+1BD
22        1st+Floor+1-3+Sun+Street,London,England,EC2A+2EP
23       Riverside+East,2+Millsands,Sheffield,South+Yor...
24         48,+High+Street,Gravesend,Kent,England,DA11+0AY
25       Enterprise+House,97+Alderley+Road,Wilmslow,Che...
26       THE+ACCOUNTING+CENTRE,+FIRST+FLOOR,736+High+Ro...
27       C/O+A&P+Tyne+Limited,Wagonway+Road,Hebburn,Tyn...
28       206+Hurley+Common,Hurley,Atherstone,Warwickshi...
29       Chart+House,+2+Effingham+Road,Reigate,Surrey,R...
                               ...
10512    Kenmore+Rd,41+Industrial+Estate,Wakefield,WF2+0XE
10513    Unit+76+Kelleythorpe+Industrial+Estate,Kellyth...
10514    Building+2+Abbey+View,Everard+Close,St+Albans,...
10515    Grange+Park+1,Cheaney+Drive,Grange+Park,Northa...
10516    Studio+9+10+Bowling+Green+Lane,London,United+K...
10517    Bankside+300,+Peachman+Way,Norwich,England,NR7...
10518             598+Holloway+Road,London,England,N19+3PH
10519    Lumina+House,+89+New+Bond+Street,London,United...
10520    First+Floor+8+Sandridge+Park,+Porters+Wood,St....
10521    Dukes+Meadow,+Millboard+Road,Bourne+End,Buckin...
10522    Sandbrook+House+Sandbrook+Park,Sandbrook+Way,R...
10523    Zenith+House+A1(M)+Business,Dixons+Hill+Road,W...
10524    45+Westerham+Road,Bessels+Green,Sevenoaks,Kent...
10525    C/O+The+King+John+School+Shipwrights+Drive,+Th...
10526    Number+One,Great+Exhibition+Way,Kirkstall+Forg...
10527    Pembroke+Building,+Kensington+Village,Avonmore...
10528    P.O.+Box+35,Darlaston,Wednesbury,W.+Midlands,U...
10529    Chiltern+Park,+Chiltern+Hill,Chalfont+St+Peter...
10530    The+Courtyard,+Lancaster+Place,South+Marston+P...
10531    4+Redwing+Court,Ashton+Road,Romford,Essex,Unit...
10532    Zip+World+Base+Camp,+Denbigh+Street,Llanrwst,W...
10533    Kestrel+House+Lakeside,Llantarnam+Industrial+P...
10534          1+Tanfield,Edinburgh,United+Kingdom,EH3+5DA
10535         5+Fleet+Place,London,United+Kingdom,EC4M+7RD
10536      675+Mitcham+Road,Croydon,United+Kingdom,CR9+3AL
10537            The+Cooperage,5+Copper+Row,London,SE1+2LH
10538    The+Grange,Bishops+Cleeve,Cheltenham,Glouceste...
10539    The+Zurich+Centre+3000+Parkway,Whiteley,Fareha...
10540    Winterton+House,Winterton+Way,Macclesfield,Che...
10541    Station+Road,Minsterley,Shrewsbury,Shropshire,...
Name: AddressClean, Length: 10542, dtype: object

In [295]:
df_male = pd.read_csv('data/earnings-workplace-borough/Male FT weekly-Table 1.csv')
df_female = pd.read_csv('data/earnings-workplace-borough/Female FT weekly-Table 1.csv')

In [296]:
merged = df_male.merge(df_female, on='Unnamed: 0')
merged = merged.dropna()
merged = merged.drop([0])

In [297]:
merged

,Unnamed: 0,Unnamed: 1_x,1997_x,Unnamed: 3_x,1998_x,Unnamed: 5_x,1999_x,Unnamed: 7_x,2000_x,Unnamed: 9_x,...,2013_y,Unnamed: 35_y,2014_y,Unnamed: 37_y,2015_y,Unnamed: 39_y,2016_y,Unnamed: 41_y,2017_y,Unnamed: 43_y
1,E09000001,City of London,664.0,3.5,671.8,3.2,750.3,4.0,767.8,3.5,...,747.4,3.0,749.4,2.9,766.6,2.6,796.8,3.0,799.6,2.9
2,E09000002,Barking and Dagenham,371.0,7.6,463.0,4.3,435.0,6.9,462.4,7.1,...,596.4,9.6,569.1,13.0,471.9,13.0,451.7,10.0,493.2,10.0
3,E09000003,Barnet,380.6,7.3,413.8,7.2,429.3,7.7,478.2,6.7,...,512.8,5.3,498.9,6.8,524.0,5.9,508.5,8.4,542.2,7.6
4,E09000004,Bexley,379.4,7.3,398.6,7.2,386.6,7.7,407.1,7.9,...,489.0,7.1,471.4,7.9,433.2,7.4,488.0,8.7,554.2,9.6
5,E09000005,Brent,370.8,5.9,400.2,7.1,396.7,6.8,444.8,4.9,...,533.1,8.5,533.0,6.5,527.7,12.0,527.9,6.0,468.7,10.0
6,E09000006,Bromley,331.4,9.8,385.2,8.2,370.0,9.0,350.0,7.3,...,488.7,6.0,523.2,6.1,525.0,7.1,518.5,7.6,525.7,7.2
7,E09000007,Camden,473.1,4.2,499.0,4.5,496.0,3.7,525.3,4.0,...,632.4,3.4,643.3,2.8,623.0,2.2,629.2,3.1,628.6,3.0
8,E09000008,Croydon,405.8,4.8,411.9,4.5,425.3,4.3,447.0,3.8,...,497.3,5.9,507.3,6.9,513.7,6.9,520.3,6.2,555.5,5.6
9,E09000009,Ealing,409.0,4.2,419.5,4.5,439.4,4.7,471.9,5.6,...,518.8,5.9,514.6,5.5,508.5,6.6,492.7,6.9,502.6,5.7
10,E09000010,Enfield,387.1,5.8,408.0,5.2,415.4,6.0,461.1,5.5,...,505.3,7.7,424.2,7.7,478.9,8.0,479.8,7.6,491.0,5.5
11,E09000011,Greenwich,387.0,7.6,406.9,8.2,426.7,9.2,463.1,8.9,...,535.2,6.9,535.7,7.9,552.2,8.1,550.0,9.1,565.8,5.0
12,E09000012,Hackney,441.5,6.1,504.7,5.5,487.1,6.0,479.8,9.9,...,567.0,5.7,565.5,8.5,555.8,7.3,588.6,7.4,611.3,6.3
13,E09000013,Hammersmith and Fulham,479.9,6.2,467.8,7.2,493.8,6.9,527.8,6.4,...,594.3,5.1,594.8,5.6,613.3,4.8,614.6,5.8,651.3,5.0
14,E09000014,Haringey,381.4,6.8,403.0,9.5,390.3,5.6,404.5,6.8,...,539.4,7.9,483.3,9.8,540.5,5.7,480.2,7.7,513.7,5.7
15,E09000015,Harrow,435.5,8.5,454.1,6.5,436.4,7.4,457.7,10.0,...,433.9,8.3,467.2,10.0,429.7,8.2,498.3,10.0,496.2,11.0
16,E09000016,Havering,339.0,6.7,336.4,6.2,345.8,8.1,353.2,7.4,...,576.8,6.7,535.4,8.6,526.8,8.2,569.3,8.8,544.3,6.0
17,E09000017,Hillingdon,464.7,3.7,501.2,3.1,514.4,3.4,530.2,3.4,...,583.3,4.7,575.9,4.7,585.0,5.2,550.7,5.3,587.0,6.4
18,E09000018,Hounslow,422.4,4.6,423.7,4.9,416.9,4.5,465.4,4.9,...,511.8,5.5,556.0,6.2,571.4,5.9,559.3,6.9,597.3,7.5
19,E09000019,Islington,466.6,4.4,493.0,5.0,527.7,4.5,539.8,3.4,...,629.3,3.6,613.3,3.4,615.9,3.2,664.8,3.0,665.1,3.4
20,E09000020,Kensington and Chelsea,364.8,8.2,443.6,8.0,469.5,8.1,483.6,5.5,...,568.2,5.5,532.6,5.1,551.0,4.7,546.4,5.3,561.6,4.4
21,E09000021,Kingston upon Thames,450.1,7.8,436.7,7.9,394.9,7.3,450.2,8.3,...,511.1,6.2,501.8,6.0,517.4,6.5,536.6,4.6,519.7,5.1
22,E09000022,Lambeth,447.0,6.2,468.0,5.2,491.7,4.2,499.9,5.0,...,596.9,4.5,636.2,4.0,623.0,3.7,604.6,3.9,648.4,4.0
23,E09000023,Lewisham,358.6,7.0,361.2,11.0,433.9,7.4,414.3,8.7,...,596.8,8.5,590.5,8.0,551.1,11.0,574.7,6.5,538.5,7.7
24,E09000024,Merton,378.0,6.3,358.9,5.3,371.1,4.8,397.2,7.9,...,511.3,6.0,521.4,5.9,484.2,7.6,538.9,5.7,540.4,4.7
25,E09000025,Newham,380.6,6.2,378.4,5.3,366.0,7.1,424.3,7.2,...,534.5,6.7,524.4,7.2,506.8,7.8,479.4,8.7,480.4,7.5
26,E09000026,Redbridge,368.4,8.7,376.4,7.3,375.4,8.4,403.8,8.3,...,489.2,10.0,486.2,7.2,468.0,9.2,503.5,6.4,394.3,11.0
27,E09000027,Richmond upon Thames,392.4,9.6,403.7,8.2,440.0,9.1,459.5,11.0,...,513.7,7.1,522.5,7.1,565.9,5.0,542.3,5.9,542.4,5.7
28,E09000028,Southwark,456.6,4.8,449.2,5.0,480.0,4.1,528.1,4.1,...,613.2,3.0,605.8,3.4,650.3,3.5,633.0,3.9,659.2,3.5
29,E09000029,Sutton,433.6,7.3,418.3,8.4,445.7,6.0,438.1,7.3,...,504.0,7.7,504.3,7.0,491.3,6.4,526.2,7.5,571.7,8.4
30,E09000030,Tower Hamlets,499.5,4.1,547.0,4.2,557.5,5.5,603.2,5.1,...,758.9,3.8,764.2,4.8,711.4,4.1,709.1,4.8,734.3,4.5
31,E09000031,Waltham Forest,363.5,7.6,387.0,7.5,366.8,7.3,402.8,8.3,...,482.7,13.0,493.9,14.0,492.2,11.0,465.9,11.0,493.8,7.7
32,E09000032,Wandsworth,416.5,5.8,448.9,5.4,460.0,6.6,473.6,6.1,...,515.3,5.3,522.7,7.1,527.9,4.2,561.1,5.3,563.0,4.7
33,E09000033,Westminster,492.6,3.3,515.6,3.3,537.3,3.1,561.5,3.1,...,613.3,2.1,625.7,2.1,631.7,2.6,646.3,1.9,670.8,2.7
46,E12000001,North East,332.5,1.8,346.0,2.0,349.9,1.8,365.3,2.3,...,416.7,2.0,422.0,1.6,436.5,1.9,438.7,2.0,452.3,1.9
47,E12000002,North West,346.7,0.9,357.9,1.0,371.3,1.2,379.7,1.0,...,432.9,1.3,437.9,1.4,441.9,1.2,457.0,1.1,464.6,1.2
48,E12000003,Yorkshire and The Humber,330.6,1.1,345.5,1.1,357.1,1.1,373.6,1.1,...,415.2,1.2,418.2,1.1,427.4,1.3,435.0,1.3,442.7,1.4
49,E12000004,East Midlands,337.0,1.3,344.7,1.2,357.5,1.1,364.3,1.3,...,407.6,1.5,412.0,1.3,412.0,1.3,421.6,1.3,430.4,1.2
50,E12000005,West Midlands,340.6,1.0,358.8,1.0,364.8,1.0,374.3,1.0,...,416.8,1.4,420.0,1.2,429.6,1.2,440.8,1.2,451.4,1.4
51,E12000006,East,361.0,1.1,371.9,1.1,384.6,1.1,397.6,1.1,...,440.8,1.2,443.0,1.4,452.9,1.4,466.0,1.3,478.4,1.1
52,E12000007,London,445.5,0.8,468.2,0.9,480.3,0.8,507.3,0.8,...,592.8,0.8,594.1,0.8,595.2,0.9,609.0,0.9,622.9,0.8
53,E12000008,South East,377.1,0.9,396.6,0.8,408.2,0.9,421.6,0.8,...,465.6,1.1,473.7,1.0,484.0,1.0,497.0,1.1,504.0,1.1
54,E12000009,South West,346.3,1.3,357.7,1.3,363.3,1.2,380.7,1.4,...,419.3,1.1,424.3,1.4,435.3,1.4,442.1,1.4,459.8,1.3
55,N92000002,Northern Ireland,319.4,3.2,333.2,2.8,343.2,2.5,352.7,2.2,...,446.5,2.5,444.3,2.6,459.9,2.6,472.7,2.9,482.4,2.4
56,S92000003,Scotland,340.8,1.2,357.1,1.2,370.0,1.3,380.5,1.3,...,453.5,1.6,460.9,1.4,475.0,1.3,482.4,1.4,498.3,1.3
57,W92000004,Wales,335.9,1.7,343.6,1.7,350.2,1.6,362.9,1.6,...,421.9,2.0,422.0,1.9,427.8,1.9,447.8,2.0,457.6,2.0
58,E92000001,England,360.7,0.3,376.4,0.3,384.7,0.2,402.8,0.2,...,460.0,0.3,465.3,0.5,472.9,0.4,482.7,0.4,496.4,0.4
59,K04000001,England and Wales,359.5,0.3,374.9,0.2,385.5,0.3,400.5,0.3,...,460.0,0.3,462.3,0.4,470.0,0.4,480.5,0.3,493.5,0.5
60,K03000001,Great Britain,357.6,0.2,373.6,0.2,384.3,0.2,398.9,0.3,...,459.5,0.3,462.2,0.3,470.6,0.4,480.8,0.3,494.0,0.4
61,K02000001,United Kingdom,356.9,0.2,372.7,0.2,383.9,0.1,397.7,0.3,...,458.9,0.3,461.5,0.3,470.2,0.4,480.5,0.3,493.6,0.4

In [298]:
for year in range(1997, 2017): 
    
    merged[str(year)+'_x'] = merged[str(year)+'_x'].apply(lambda x : float(str(x).replace(',', '')))
    merged[str(year)+'_y'] = merged[str(year)+'_y'].apply(lambda x : float(str(x).replace(',', '')))
    merged[str(year)+'_diff'] = merged[str(year)+'_x'] - merged[str(year)+'_y']
    merged[str(year)+'_diff_percent'] = 100*(merged[str(year)+'_x'] - merged[str(year)+'_y'])/merged[str(year)+'_x']

In [299]:
merged['20_yr_diff'] = (merged['1997_diff_percent'] - merged['2016_diff_percent'])
nat_avg = merged[merged['Unnamed: 1_x'] == 'United Kingdom']['20_yr_diff'].values[0]
merged['abv_nat_avg'] = merged['20_yr_diff'] > nat_avg

In [300]:
Finalcols = ['Unnamed: 1_x', '2016_diff_percent', '20_yr_diff', 'abv_nat_avg']
FinalTable = merged[Finalcols]

In [301]:
FinalTable.rename(index=str, columns={"Unnamed: 1_x": "Region/Borough", "2016_diff_percent": "2016_gender_gap_percent", 
                                     '20_yr_diff': "20_yr_diff_1997_2016", 'abv_nat_avg':"abv_nat_avg"})

,Region/Borough,2016_gender_gap_percent,20_yr_diff_1997_2016,abv_nat_avg
1,City of London,28.106108,7.436060,False
2,Barking and Dagenham,32.782738,-12.917509,False
3,Barnet,20.621293,2.421272,False
4,Bexley,20.391517,4.806163,False
5,Brent,12.743802,7.482736,False
6,Bromley,14.565826,7.582635,False
7,Camden,18.349338,2.851254,False
8,Croydon,19.107587,7.752935,False
9,Ealing,16.970003,6.697478,False
10,Enfield,17.545970,8.054650,False
11,Greenwich,6.732237,9.185076,True
12,Hackney,7.394588,7.848900,False
13,Hammersmith and Fulham,13.606972,6.397195,False
14,Haringey,20.470354,3.258015,False
15,Harrow,23.101852,10.675416,True
16,Havering,3.459386,19.637959,True
17,Hillingdon,16.408622,9.608163,True
18,Hounslow,25.496204,-5.538817,False
19,Islington,19.806996,0.167286,False
20,Kensington and Chelsea,3.017394,2.273176,False
21,Kingston upon Thames,10.996849,23.995375,True
22,Lambeth,9.882248,12.198289,True
23,Lewisham,6.613585,-2.709513,False
24,Merton,6.147684,22.794115,True
25,Newham,20.629139,-8.805702,False
26,Redbridge,21.205008,-9.397190,False
27,Richmond upon Thames,21.700837,-0.472499,False
28,Southwark,14.885034,9.271777,True
29,Sutton,4.829083,23.261323,True
30,Tower Hamlets,25.996660,-6.797461,False
31,Waltham Forest,16.624911,5.438363,False
32,Wandsworth,17.931841,7.878483,False
33,Westminster,15.294889,7.766419,False
46,North East,17.022886,10.796663,True
47,North West,15.791413,12.013605,True
48,Yorkshire and The Humber,19.578480,8.007727,False
49,East Midlands,20.227058,9.209144,True
50,West Midlands,20.918550,7.795484,False
51,East,18.942425,7.262561,False
52,London,16.780541,5.060087,False
53,South East,18.684555,8.257901,False
54,South West,19.764065,10.440959,True
55,Northern Ireland,6.154457,18.704654,True
56,Scotland,14.965627,12.557848,True
57,Wales,14.963919,12.246560,True
58,England,17.487179,7.880162,False
59,England and Wales,17.439863,7.845256,False
60,Great Britain,17.160579,8.426669,False
61,United Kingdom,16.796537,8.896935,False

In [302]:
from pygeocoder import Geocoder

In [303]:
FinalTable = FinalTable.reset_index(drop=True)

In [304]:
FinalTable.to_csv('./data/reg_gender_gap.csv')

In [305]:
cols = ['Unnamed: 1_x', '1997_x','1997_y', '2016_x','2016_y', '1997_diff_percent', '2016_diff_percent', '20_yr_diff']

In [306]:
merged[merged['20_yr_diff'] <0][cols]

,Unnamed: 1_x,1997_x,1997_y,2016_x,2016_y,1997_diff_percent,2016_diff_percent,20_yr_diff
2,Barking and Dagenham,371.0,297.3,672.0,451.7,19.865229,32.782738,-12.917509
18,Hounslow,422.4,338.1,750.7,559.3,19.957386,25.496204,-5.538817
23,Lewisham,358.6,344.6,615.4,574.7,3.904071,6.613585,-2.709513
25,Newham,380.6,335.6,604.0,479.4,11.823437,20.629139,-8.805702
26,Redbridge,368.4,324.9,639.0,503.5,11.807818,21.205008,-9.397190
27,Richmond upon Thames,392.4,309.1,692.6,542.3,21.228338,21.700837,-0.472499
30,Tower Hamlets,499.5,403.6,958.2,709.1,19.199199,25.996660,-6.797461

In [307]:
Geocoder.geocode("Fusion Point, Dumballs Road, Cardiff, United Kingdom", sensor=False).valid_address

GeocoderError: Error REQUEST_DENIED
Query: https://maps.google.com/maps/api/geocode/json?address=Fusion+Point%2C+Dumballs+Road%2C+Cardiff%2C+United+Kingdom&sensor=False&bounds=&region=&language=&components=

In [ ]:
df_18_19['Address'].iloc[0]

In [ ]:
df_18_19.sort_values(by='DiffMedianHourlyPercent').head(10)

In [ ]:
# companies with either zero mean or median diff in hourly percent 

df_18_19[(df_18_19['DiffMeanHourlyPercent']==0)|(df_18_19['DiffMedianHourlyPercent']==0)].to_csv('./special_companies/zerodiff_mean_or_median.csv', sep='\t', encoding='utf-8')

In [ ]:

# companies with either zero mean and median diff in hourly percent 

df_18_19[(df_18_19['DiffMeanHourlyPercent']==0) & (df_18_19['DiffMedianHourlyPercent']==0)].to_csv('./special_companies/zerodiff_mean_and_median.csv', sep='\t', encoding='utf-8')

In [ ]:
# companies with the lowest difference in median hourly rate 

df_18_19.sort_values(by='DiffMedianHourlyPercent').tail(10).to_csv('./special_companies/worst_diff_median_hourly', sep='\t', encoding='utf-8')

In [ ]:
df_18_19.sort_values(by='DiffMedianHourlyPercent').head(10)

In [ ]:
df_18_19[df_18_19['Address'].str.contains('London')]['Address'].str.split('United Kingdom', expand=True)[1].str.split(',\r')

In [ ]:
# companies with the highest difference in median hourly rate 

df_18_19.sort_values(by='DiffMedianHourlyPercent').head(10).to_csv('./special_companies/best_diff_median_hourly', sep='\t', encoding='utf-8')

In [308]:
for column in df_18_19.columns[:-1]:
    df_temp = df_18_19.groupby(['SicCodes', column])[column].count().unstack('DiffMeanHourlyPercent')
    df_temp.plot(kind='bar')

KeyError: 'Level DiffMeanHourlyPercent not found'