In [56]:
from companies_house.api import CompaniesHouseAPI
import pandas as pd 

# use hammock from https://github.com/kadirpekel/hammock
from hammock import Hammock as GendreAPI
gendre = GendreAPI("http://api.namsor.com/onomastics/api/json/gendre")

## define your api key
ch = CompaniesHouseAPI(api_key)

import time

In [57]:
df_17_18 = pd.read_csv('data/UK Gender Pay Gap Data - 2017 to 2018 (1).csv')
df_18_19 = pd.read_csv('data/UK Gender Pay Gap Data - 2018 to 2019 (1).csv')

In [87]:
t1 = pd.read_csv('results/table1_companies.csv')
t2  = pd.read_csv('results/table2_regions.csv')

In [88]:
t1_id = t1.merge(df_17_18[['EmployerName', 'CompanyNumber']], how='left', 
                left_on = 'name', 
                right_on = 'EmployerName')

In [120]:
company_cols = ['top_1', 'top_2', 'top_3', 'bottom_1', 'bottom_2', 'bottom_3']

In [122]:
company_names= []
for col in company_cols:
    company_names.extend(t2[col].tolist())

In [125]:
pd.DataFrame(company_names, columns=['company_name'])

In [127]:
t1_id = companies.merge(df_17_18[['EmployerName', 'CompanyNumber']], how='left', 
                left_on = 'company_name', 
                right_on = 'EmployerName')

In [134]:
company_officers = {}

i = 0 
for counter, pk in enumerate(t1_id.CompanyNumber[t1_id.CompanyNumber.notna()][90:]): 
            
    officers = ch.list_company_officers(company_number=pk)
#     officers_names = []
    males = 0
    females = 0
    frac_males= -1 
    if officers: 
        i = i + 1
        key = ch.get_company(pk)['company_name']
        for item in officers['items']: 
#             officers_names.append(item['name'])
            if len(item['name'].split(','))==2:
                fn, ln = item['name'].split(',')
                if gendre(fn,ln).GET().json().get('gender')=='male': 
                    males+=1
                elif gendre(fn,ln).GET().json().get('gender')=='female': 
                    females+=1
        if males:
            frac_males = males/(males+females)
            total_officers = males+females
            company_officers[key] = [frac_males, total_officers]
            print(i,key,frac_males)
            
    if counter%100==0:
        with open('results/company_officers_132'+'.json', 'w') as fp:
            json.dump(company_officers, fp)
    time.sleep(1)

1 ASPIRATIONS ACADEMIES TRUST 0.8235294117647058
2 STIFEL NICOLAUS EUROPE LIMITED 0.9285714285714286
3 LONDON CITY BOND LIMITED 0.6666666666666666
4 AECOM LIMITED 0.8333333333333334
6 GSM LONDON LIMITED 0.7333333333333333
7 CLOSE ASSET MANAGEMENT HOLDINGS LIMITED 0.8888888888888888
8 N2 REALISATIONS LIMITED 0.8333333333333334
9 CLESHAR CONTRACT SERVICES LIMITED 0.6428571428571429
10 THE KEMNAL ACADEMIES TRUST 0.7272727272727273
11 DULWICH PREPARATORY SCHOOLS TRUST 0.7931034482758621
12 CAPITA RESOURCING LIMITED 0.6818181818181818
13 CORDANT CLEANING LIMITED 0.7333333333333333
14 J.P. BODEN & CO. LIMITED 0.8
15 CIVICA UK LIMITED 0.7941176470588235
16 FARFETCH UK LIMITED 1.0
17 AXIS GROUP INTEGRATED SERVICES LIMITED 1.0
18 ST. PAUL'S SCHOOL 0.7
19 UPS LIMITED 0.8666666666666667

In [135]:
company_officers

{'ASPIRATIONS ACADEMIES TRUST': [0.8235294117647058, 17],
 'STIFEL NICOLAUS EUROPE LIMITED': [0.9285714285714286, 28],
 'LONDON CITY BOND LIMITED': [0.6666666666666666, 3],
 'AECOM LIMITED': [0.8333333333333334, 30],
 'GSM LONDON LIMITED': [0.7333333333333333, 15],
 'CLOSE ASSET MANAGEMENT HOLDINGS LIMITED': [0.8888888888888888, 18],
 'N2 REALISATIONS LIMITED': [0.8333333333333334, 6],
 'CLESHAR CONTRACT SERVICES LIMITED': [0.6428571428571429, 14],
 'THE KEMNAL ACADEMIES TRUST': [0.7272727272727273, 22],
 'DULWICH PREPARATORY SCHOOLS TRUST': [0.7931034482758621, 29],
 'CAPITA RESOURCING LIMITED': [0.6818181818181818, 22],
 'CORDANT CLEANING LIMITED': [0.7333333333333333, 15],
 'J.P. BODEN & CO. LIMITED': [0.8, 20],
 'CIVICA UK LIMITED': [0.7941176470588235, 34],
 'FARFETCH UK LIMITED': [1.0, 5],
 'AXIS GROUP INTEGRATED SERVICES LIMITED': [1.0, 4],
 "ST. PAUL'S SCHOOL": [0.7, 20],
 'UPS LIMITED': [0.8666666666666667, 30]}

In [117]:
cols = ['top_1','top_2','top_3','bottom_1','bottom_2','bottom_3']
for col in cols:
    frac_col = 'frac_' + col 
    t2[frac_col]= t2.apply(lambda row: company_officers[row[col]], axis=1)

In [136]:
with open('results/company_officers_132.json', 'w') as fp:
    json.dump(company_officers, fp)

In [137]:
js1 = pd.read_json('results/company_officers_91.json')
js2 = pd.read_json('results/company_officers_132.json')

In [144]:
company_stats = {**js1.to_dict(),**js2.to_dict()}

In [151]:
company_stats['CHRISTIAN DIOR UK LIMITED'][0]

0.416666666666666

In [156]:
company_stats.get('United Response')

In [157]:
cols = ['top_1','top_2','top_3','bottom_1','bottom_2','bottom_3']
for col in cols:
    frac_col = 'frac_' + col 
    
    t2[frac_col]= t2.apply(lambda row: company_stats[row[col]][0] if company_stats.get(row[col]) else -1, axis=1)

In [167]:
t2.to_csv('results/table2_regions_addfracmale.csv', index=False)

In [111]:
counter = 100
if counter%100==0:
    company_officers+'_'+str(counter)

SyntaxError: can't assign to operator (<ipython-input-111-a661dee72053>, line 3)

In [99]:
company_officers

{'5 HERTFORD STREET LIMITED': 0.8333333333333334}

In [93]:
officers_names

['ALLY, Bibi Rahima',
 'BIRLEY, Robin',
 'GOLDSMITH, Benjamin James',
 'REUBEN, James Adam',
 'RICHARDSON, Clive Stuart',
 'HORVATH, Christian Robert',
 'ISAACS, David Andrew']

In [95]:
fn, ln = item['name'].split(',')

In [97]:
gendre(fn,ln).GET().json().get('gender')

'male'